<TABLE ALIGN=CENTER>
<TR><TH>Name</TH><TH><A HREF=#h:uses>Used By</A></TH><TH>Type</TH><TH ALIGN=CENTER>Default</TH><TH>Minimum</TH><TH>Notes</TH></TR>
{% for attr in attrs %}
 <TR><TD>
  {%- for term in attr.terms -%}
    {%- if not loop.first -%}
    <BR>
    {%- endif -%}
    <A NAME={{ term.a_anchor }} HREF=#{{ term.d_anchor }}>{{ term.name }}</A>
  {% endfor -%}
  </TD><TD>{{ attr.uses }}</TD><TD>
  {%- for kind in attr.kinds -%}
    {%- if not loop.first -%}
    <BR>
    {%- endif -%}
    {%- if kind in ['double', 'int', 'string'] -%}
      {{ kind }}
    {%- elif kind == 'bool' -%}
      <A HREF=#k:bool>bool</A>
    {% else -%}
      <A HREF=#k:{{kind}}>{{kind}}</A>
    {% endif -%}
  {%- endfor -%}
  </TD><TD ALIGN="CENTER">
  {%- for default in attr.defaults -%}
    {%- if not loop.first -%}
    <BR>
    {%- endif -%}
    {{ default }}
  {%- endfor -%}
  </TD><TD>
  {%- for minimum in attr.minimums -%}
    {%- if not loop.first -%}
    <BR>
    {%- endif -%}
    {{- minimum -}}
  {%- endfor -%}
  </TD><TD>
  {%- if attr.flags == [] -%}
  {%- elif attr.flags == ['notdot'] -%}
    not dot
  {%- else -%}
    {%- for flag in attr.flags | reverse -%}
      {%- if flag == 'ps' -%}
        postscript
      {%- elif flag == 'bitmap' -%}
        bitmap output
      {%- else -%}
        {{ flag }}
      {%- endif -%}
      {%- if not loop.last %}, {% endif -%}
    {%- endfor %} only
  {%- endif -%}
  </TD> </TR>
{% endfor %}
</TABLE>
<HR>
<H1>Attribute Descriptions</H1>
<DL>
{% for attr in attrs %}
  {% for term in attr.terms %}
    {% if not loop.first %},{% endif %}
<DT><A NAME={{term.d_anchor}} HREF=#{{term.a_anchor}}><STRONG>{{ term.name }}</STRONG></A>
  {% endfor %}
<DD>{{ attr.html_description }}
{% endfor %}
</DL>
<HR>
